// GENERAL
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// NAVBAR
nav {
  padding: 0 1rem;
  height: 70px;
  width: 100%;
  position: absolute;
  background-color: rgba(20, 20, 20, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .main-navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  // Logo
  .logo {
    width: 76.8px;
    height: 43.2px;
    margin: 0 1rem;
    background-image: url(img/Netflix-Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: 110%;
    overflow: hidden;
  }
  // Nav menu
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    display: inline-block;

    a {
      text-decoration: none;
      color: hsl(180, 7%, 81%);
      font-size: 0.9rem;
      font-weight: 600;
      padding-left: 1rem;
    }
  }
  li:first-child {
    a {
      color: white;
    }
  }

  // Extra commands
  .extra-navigation {
    display: flex;
    justify-content: center;
    line-height: 0.5rem;
    align-items: center;
    padding: 0 1rem;
    color: white;

    .navigation-element {
      padding: 0 0.5rem;
    }

    img {
      width: 32px;
      height: 32px;
    }
    .profile-icon {
      object-fit: cover;
    }
  }
}
