*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  padding: 0 1rem;
  height: 70px;
  width: 100%;
  z-index: 2;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141414;
}
nav .main-navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
nav .logo {
  width: 115.2px;
  height: 64.8px;
  margin: 0 1.5rem;
  background-image: url(img/Netflix-Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 110%;
  overflow: hidden;
}
nav .desktop-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  nav .desktop-menu {
    display: none;
  }
}
nav .mobile-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  nav .mobile-menu {
    display: flex;
  }
}
nav .menu li {
  display: inline-block;
}
nav .menu li a {
  text-decoration: none;
  color: #cbd2d2;
  font-size: 0.9rem;
  font-weight: 600;
  padding-left: 1rem;
}
nav .menu li:first-child a {
  color: white;
}
nav .extra-navigation {
  display: flex;
  justify-content: center;
  line-height: 0.5rem;
  align-items: center;
  padding: 0 1rem;
  color: white;
}
nav .extra-navigation .navigation-element {
  padding: 0 0.5rem;
}
nav .extra-navigation .nav-span {
  font-size: 0.9rem;
}
nav .extra-navigation img {
  width: 32px;
  height: 32px;
}
nav .extra-navigation .profile-icon {
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  nav .extra-navigation .nav-span {
    display: none;
  }
}

main {
  background-color: #141414;
  margin: 0 auto;
}
main .preview {
  height: 56.25vw;
  z-index: 0;
  position: relative;
  background: linear-gradient(0deg, #141414 0%, rgba(255, 255, 255, 0) 50%), url(img/movie.jpg);
  background-size: cover;
}
main .preview img {
  width: 100%;
  z-index: -999;
}
main .video-info {
  position: absolute;
  z-index: 999;
  bottom: 25%;
  width: 40%;
  left: 4%;
}
main .video-info button {
  background-color: white;
  padding: 0 15px;
  margin-right: 0.5rem;
  height: 32px;
  border-radius: 5px;
  border: none;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
main .video-info .more-info {
  background-color: rgba(141, 144, 145, 0.8);
  color: white;
}
main .video-info .title-preview {
  color: #141414;
  text-transform: uppercase;
  font-size: 2vw;
}
main .video-info .sinopse {
  color: white;
  text-shadow: 1px 1px black;
  font-size: 1.4vw;
  margin: 0.5rem 0;
}
main .genre-section {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;
  overflow: scroll;
  color: white;
}
main .genre-section p {
  margin: 0.7rem 0;
  font-weight: 600;
}
main .genre-section .genre-list {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main .genre-section .genre-list div[class*=suggestion] {
  display: inline-block;
  padding-right: 5vw;
}
main .genre-section .genre-list div[class*=suggestion] img {
  height: 140px;
  width: 100px;
  object-fit: none;
}
main .genre-section .genre-list .suggestion-1 img {
  object-position: -4px -5px;
}
main .genre-section .genre-list .suggestion-2 img {
  object-position: -4px -150px;
}
main .genre-section .genre-list .suggestion-3 img {
  object-position: -4px -295px;
}
main .genre-section .genre-list .suggestion-4 img {
  object-position: -106px -5px;
}
main .genre-section .genre-list .suggestion-5 img {
  object-position: -212px -5px;
}
main .genre-section .genre-list .suggestion-6 img {
  object-position: -318px -5px;
}
main .genre-section .genre-list .suggestion-7 img {
  object-position: -105px -150px;
}
main .genre-section .genre-list .suggestion-8 img {
  object-position: -210px -150px;
}
main .genre-section .genre-list .suggestion-9 img {
  object-position: -315px -150px;
}

/*# sourceMappingURL=style.css.map */
